.top-buttons {
    top: 20px;
    right: 20px;
    position: absolute;
  }
  
  .hero-section {
    background: url('../images/vinyl-hero.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100vh;
  }

  .genius-api-bar {
    top: 33%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:large;
  }

  #toggle-artist-query {
    color: white;
  }